body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#navbar{
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /*box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);*/
}

.navbar1-brand img {
  height: 70px;
}
.navbar1 {
  padding-left: 30px;
  padding-right: 30px;
}
.navbar1-nav .nav1-item .nav1-link {
  padding-left: 12px;
  padding-right: 12px;
}
.navbar1-nav .nav1-item .nav1-link br {
  display: none;
}

.wrap {
  position: relative;
  text-align: center;
  display: inline-block;
  color: blue;
  text-decoration: none;
  font-weight: bold;
  width: auto;
}

.wrap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  margin-bottom: -20px;
  left: 0;
  background-color:blue;
  transform-origin: right;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.wrap:hover::after, .wrap:active::after {
  visibility: visible;
  transform: scaleX(1);
}

span {
  display:block;
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

@media (max-width: 992px) {
  .navbar1-brand {
    margin: auto;
    display: block;
    text-align: center;
  }

  .navbar-toggler {
    /*order: -1;*/
    right: -5%;
    border: 0;
  }
}

@media (min-width: 993px) {
  .navbar1-nav .nav-item {
    text-align: right;
  }

  .modal .modal-content {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 0;
  padding: 0px;
  border: 1px solid #888;
  width: 100%;
  height: 100%; animation: slideDown 0.5s;
}
@keyframes slideDown {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-menu-text {
  display: flex;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  text-decoration: none;
  /*margin-right: 20px;*/
  width: 100%;
  flex-grow: 1;
  /*padding-right: 80%;*/
}

.responsive-image {
  max-height: 59.99px;
  max-width: 298.23px;
  height: 100%;
  width: auto;
}

@media (max-width: 768px) {
  .responsive-image {
    max-height: 70px;
    max-width: 250px;
    width: auto;
  }
}

@media (max-width: 480px) {
  .responsive-image {
    max-height: 50px;
    max-width: 200px;
    width: auto;
  }
}
